.cositos {
    border:1px solid grey;
    border-radius: 10px;
    background-color: white;
}
a:link {
    color: black;
}

a:active{
    color: black
}

a:visited{
    color: black
}

.texto{
    background-color: rgb(238, 238, 241);
    unicode-bidi: embed;
}